extends layout

block content
    h1= title
    p Welcome to #{title}

    form(action="/" method="post")
        label(for="initialForm") Enter value:
        input(id="initialForm" type="text" name="name_field" value="Default Field Value.")
        input(type="submit" value="OK")